*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
}

.conterner{
    width: 810px;
    height: 810px;
    margin: 0 auto;
}

.container div{
    width: 80px;
    height: 80px;
    position: absolute;
}

.block1{
    border: 3px solid red;
    top: 30px;
    left: 50px;

}

.block2{
    border: 3px solid blue;
    top: 80px;
    left: 100px;
}

.block3{
    border: 3px solid green;
    top: 130px;
    left: 150px
}